extends layout

block content
    h1.title Edit #{data.name.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.substring(1)).join(' ')}
    form.form(method='post')
        input.input(name ='name' value=`${data.name.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.substring(1)).join(' ')}` required='true' maxlength=30 type='text')
        input.input(name='population' value=`${Number(data.population.replace(/,/g, ''))}` required='true' type='number')
        input.input(name='area' value=`${Number(data.area.replace(/,/g, ''))}` required='true' type='number')
        input.input(name='continent' value=`${data.continent.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.substring(1)).join(' ')}` required='true' type='text')
        div.buttons
            form(method='post')
                button.button(type='submit') Submit
            a(href=`/catalog/countries/${data.name}`)
                button.button(type='button') Cancel