extends layout

block content
    h1=country
    p.info=country.name
    p.info Population = #{country.population}
    p.info Area = #{country.area}km^2
    p.info Continent = #{country.continent}
    p.info GDP = #{country.gdp}