extends layout

block content
    h1=continent
    p.info=continent.name
    p.info Population = #{continent.population}
    p.info Area = #{continent.area}km^2
    p.info Number of Countries = #{continent.countries}